<!doctype html>
<html ng-app="contr">
<head>
	<link rel="stylesheet" type="text/css" href="main.css" />
	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="/app-js/controller.js"></script>
</head>

	<body>
		<div ng-controller = "fillManager as fm" ng-keyup="fm.keyParse($event)">
			<div class = "mybody">
				<div class = "bl">
					<label>Разпознавание слов!</label>
					<br>
					Предложение: <b> {{fm.sentence}} </b>
					<div class = "clearer"></div>
					Нераспознанное слово: <b> {{fm.word}} </b>
					<br>
					Ошибка : <b>{{fm.pred_corr}}</b> <br>
					Похожее: <b>{{fm.pred_same}}</b> <br>
					<div class = "clearer">&nbsp</div>
					{{fm.error_status}}
				</div>
				<div class = "bl">
					<input type = "text" name = "in_word" ng-model="fm.in_word" autofocus>
					Похожее на введенное: {{fm.same_word}} <br>
					Норма: {{fm.norm}} <br>
					Грамматика: {{fm.desc}} <br>
					С суффиксом: {{fm.suf}} <br>
					С преффиксом: {{fm.pref}} <br>
					<button ng-click="fm.saveSamePredicted()">Угадал)</button>
				</div>
				<div class = "bl">
					{{fm.pred_same}}<br>
					<div class = "blinbl" style = "font-size: 18px; line-height: 24px">
						Норма: <br>
						Грамматика: <br>
						Префикс: <br>
						Суффикс: <br>
					</div>
					<div>
						<input class = "small_input" type = "text" name = "our_norm" ng-model="fm.our_norm"> <br>
						<input class = "small_input" type = "text" name = "our_desc" ng-model="fm.our_desc"><br>
						<input class = "small_input" type = "text" name = "our_pref" ng-model="fm.our_pref"> <br>
						<input class = "small_input" type = "text" name = "our_suf" ng-model="fm.our_suf"><br>
					</div>
					<button ng-click="fm.saveCorrectExist()">Ошибка</button>
					<button ng-click="fm.saveCorrectNew()">Новое Слово</button>
					<button ng-click="fm.saveSame()">Похожее</button>
				</div>
			</div>
			ID: {{fm.cur_id}}
		</div>
	<div class = "clearer">&nbsp</div>
	Вверх- Дополнить найденное <br>
	Вниз - Найти похожее <br>
	PgUp - Сохранить как уже существующее <br>
	PgDn - Сохранить как новое слово <br>
	End  - Сохранить как похожее <br>

	</body>
</html>