body {
	font-size: 18px;
	background-color: sandybrown;
}

.mybody {
	margin: 0 auto;

	/*display: flex;
	justify-content: center;*/
	
}

.bl {
	width: 350px;
	border: solid 2px #008080;
	float: left;
	height: 150px;
}

.smbl {
	width: 100px;
	height: 1px;
	float: left;
}

.blinbl {
	float: left;
	width: 100px;
}

.small_input {
	width: 186px;
	padding: 1px;
	height: 18px;

}

input {
	width: 286px;
	padding: 5px;
}

button {
	float: left;
	padding: 5px;
	width: 100px;
	border: solid 2px #008080;
	text-align: center;
	vertical-align: middle;
	color: black;
}

.clearer {
	clear: both;
	display: block;
	font-size: 0;
	line-height: 0;	
}