html, body {
	text-align: center;
	background-color: #ddffff;
	height: 100%;
}

.bl {
	width: 510px;
	border: solid 1px #008080;

}

.blinbl {
	float: left;
	width: 249px;
}

.small_input {
	width: 240px;
	padding: 1px;

}
.small_small_input {
	width: 184px;
	padding: 1px;
}



.clearer {
	clear: both;
	display: block;
	font-size: 0;
	line-height: 0;	
}