html, body {
	text-align: center;
	background-color: #ddffff;
	height: 100%;
}

button {
	margin-top: 5px;
	margin-bottom: 5px;
}

.bl {
	width: 510px;
	border: solid 1px #008080;

}

.blinbl {
	float: left;
	width: 249px;
}

.small_input {
	width: 240px;
	margin-top: 5px;
	margin-bottom: 5px;

}



.clearer {
	clear: both;
	display: block;
	font-size: 0;
	line-height: 0;	
}